<header>
    <nav class="fixed z-10 w-full dark:bg-gray-900/70 bg-white/70 md:absolute md:bg-transparent backdrop-blur-2xl lg:backdrop-blur-none">
        <div class="container m-auto px-2 md:px-12 lg:px-7">
            <div class="flex flex-wrap items-center justify-between py-2 gap-6 md:py-4 md:gap-0 relative">
                <input type="checkbox" name="toggle_nav" id="toggle_nav" class="hidden peer">
                <div class="w-full px-6 flex justify-between lg:w-max md:px-0">
                    <a href="#" aria-label="logo" class="flex space-x-2 items-center">
                        <div aria-hidden="true" class="flex space-x-1">
                            <div class="h-4 w-4 rounded-full bg-gray-900 dark:bg-white"></div>
                            <div class="h-6 w-2 bg-primary"></div>
                        </div>
                        <span class="text-2xl font-bold text-gray-900 dark:text-white">Astrolus</span>
                    </a>
                    
                    <div class="flex items-center lg:hidden max-h-10">
                        <label role="button" for="toggle_nav" aria-label="humburger" id="hamburger" class="relative  p-6 -mr-6">
                            <div aria-hidden="true" id="line" class="m-auto h-0.5 w-5 rounded bg-sky-900 dark:bg-gray-300 transition duration-300"></div>
                            <div aria-hidden="true" id="line2" class="m-auto mt-2 h-0.5 w-5 rounded bg-sky-900 dark:bg-gray-300 transition duration-300"></div>
                        </label>
                    </div>
                </div>

                <div class="hidden absolute top-full transition translate-y-1 lg:peer-checked:translate-y-0 lg:translate-y-0 left-0 
                lg:top-0 lg:relative peer-checked:flex w-full 
                lg:flex lg:flex-row flex-col 
                flex-wrap justify-end lg:items-center 
                gap-6 p-6 rounded-xl 
                bg-white dark:bg-gray-900 lg:gap-0 
                lg:p-0  
                lg:bg-transparent lg:w-7/12">
                    <div class="text-gray-600 dark:text-gray-300 lg:pr-4 lg:w-auto w-full lg:pt-0">
                        <ul class="tracking-wide font-medium text-sm flex-col flex lg:flex-row gap-6 lg:gap-0">
                            <li>
                                <a href="#" class="block md:px-4 transition hover:text-primary">
                                    <span>Teams</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block md:px-4 transition hover:text-primary">
                                    <span>Enterprise</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block md:px-4 transition hover:text-primary">
                                    <span>Ressources</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block md:px-4 transition hover:text-primary">
                                    <span>Pricing</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block md:px-4 transition hover:text-primary">
                                    <span>Blog</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <a
                            href="#"
                            class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                            >
                            <span class="relative text-sm font-semibold text-white"
                                >Get Started</span
                            >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<style>
    #toggle_nav:checked ~ div #hamburger #line
    {
        @apply rotate-45 translate-y-1.5 
    }

    #toggle_nav:checked ~ div #hamburger #line2
    {
        @apply -rotate-45 -translate-y-1
    }
</style>