---
import AppHeader from "../components/AppHeader.astro"
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Tailus astro theme</title>

		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-white dark:bg-gray-900">
		<AppHeader/>
		<slot />
	</body>
</html>
<style>
	html {
		font-family: Urbanist, sans-serif;
	}

	body {
		margin: 0;
	}
</style>